<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="showPedido">Pedido: {{ pedido.numPedido }}</ion-title>
    <ion-title *ngIf="!showPedido">
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [hidden]="!showEnderecos">
    <ion-row>
      <ion-col size="12">
        <ion-item class="enderecos">
          <ion-grid>
            <ion-row>
              <ion-col>
                Endereços do pedido:
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" *ngFor="let endereco of pedidoItemEnderecos; let j = index">
                {{ endereco.enderecos }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" class="pedido" *ngFor="let item of itens; let i = index"
          [class.conferido]="item.escaneado" [disabled]="item.escaneado" [hidden]="item.escaneado">
          <ion-grid>
            <ion-row class="pedidoRow">
              <ion-col size="12" class="pedidoInformacao">
                <ion-row class="pedidoDescri">
                  <ion-col size="6" style="margin: auto; font-size: 16px !important;">
                    Codigo Produto:
                  </ion-col>

                  <ion-col size="6" class="pedidoValores" style="text-align: end;">
                    {{ item.CD_PRODUTO }}
                  </ion-col>
                </ion-row>

                <ion-row class="pedidoDescri">
                  <ion-col size="12" style="font-weight: bold !important;">
                    {{ item.DESCRICAO }}
                  </ion-col>
                </ion-row>

                <ion-row class="pedidoDescri">
                  <ion-col size="5">
                    Conferente:
                  </ion-col>

                  <ion-col size="7">
                    Quantidade Conferida:
                  </ion-col>
                </ion-row>

                <ion-row class="pedidoCliente">
                  <ion-col size="5">
                    {{ item.CONFERENTE }}
                  </ion-col>

                  <ion-col size="7">
                    {{ item.QUANTIDADE_CONF }}
                  </ion-col>
                </ion-row>

                <ion-row class="pedidoDescri">
                  <ion-col size="12">
                    Deposito Origem:
                  </ion-col>
                </ion-row>

                <ion-row class="pedidoCliente">
                  <ion-col size="12">
                    {{ item.DEP_ORIGEM }}
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>